.div {
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
	position: relative;
	top: 8ch;

}
.outline {
	outline: 2px solid red;
	outline-offset: -2px;
}
#changeArea {
	align-content: center;
}

.images{
	width: 100%;
	height: 100%;
}
.image{
	margin: auto;
	width: 84%;	
}
.image:after{
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}
.image{
	zoom: 1
}
.picture11{
	float: left;
}
.picture22{

	float: right;
}
.picture1 {
	/*border: 5px solid green;*/
}
.picture2 {
	/*border: 5px solid blue;*/
}
.review{
	text-align: center;
	margin: 2em 1em 3em 1em;
}


.button{
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 15px;
	margin-top: 15px;
}
.button:after{
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}
.button{
	zoom: 1
}
.next{
	font-size: 20px;
	font-weight: 900;
	float: right;
}
.download{
	font-size: 20px;
	font-weight: 900;	
}

.qazwsx{
	font-size: 20px;
	font-weight: 900;
	position:relative;
	left: 65%;
	right: 35%;  
}
.protodownload{
	font-size: 20px;
	font-weight: 900;
	position:relative;
	left: 28%;
	right: 72%;  
}
.newdownload{
	font-size: 20px;
	font-weight: 900;
	position:relative;
	left: 60%;
	right: 40%;  	
}
.filter-controls{
	/*border: solid red;*/
}
.filter-name {
	margin: auto ;
	display: block;
	width: 15ch;
	float: left;
	text-align:center;
}
.filter{
	width: 40ch;
	margin: auto ;
}
.filter-val{
	float: right;
	width: 5ch;
}

.jump{
	border-radius: 15px;
	width: 35ch;
	height: 5ch;
	line-height: 5ch;
	margin: auto;
	text-align: center;
	font-size: 28px;
	font-weight: 900;
	position: relative;
	top: 3ch;
}
.asubmit{
	text-decoration: none;
}
.newimages{
	/*border: 5px solid yellow; */
}
.newnewdownload{
	font-size: 20px;
	font-weight: 900;
	float: left;
}
.newnext{
	font-size: 20px;
	font-weight: 900;
	float: right;
}
.newbutton{
	margin-left: 32%;
	margin-right: 32%;
	margin-bottom: 20px;
	margin-top: 15px;
}
.newbutton:after{
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}
.newbutton{
	zoom: 1
}
.getcore{
	width: 35ch;
	height: 8ch;
	line-height: 8ch;
	margin: auto;
}
.picturecore{
	font-size: 18px;
	font-weight: 900;
}
.inputcore{
	width: 20ch;
	height: 3ch;
}
.coresubmit{
	width: 8ch;
	height: 3.5ch;
}

.newcorepicture{
	/*border: 5px solid yellow;*/
}
.newtest{
	text-align:center;
}
.originalcore{
	height:5ch ;
	width: 73%;
	margin: auto;
}
.originalgetcore{
	float: left;
}
.retouchengetcore{
	float: right;
}
